/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* common style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.orange-text {
  color: orange;
}

.btn {
  text-decoration: none;
  display: inline-block;
  background: linear-gradient(45deg, orangered, orange);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

/* hover style */
.btn:hover {
  background: none;
  border: 1px solid orange;
  color: orange;
  padding: 9px 19px;
  cursor: pointer;
}

body {
  font-family: "Poppins";
}

/* header style */
#header {
  width: 100%;
  height: 500px;
  background-color: rgba(255, 166, 0, 0.11);
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.header-title {
  width: 50%;
}

.header-image {
  width: 50%;
}

.header-image img {
  width: 100%;
}

/* services-section style */
#services-section {
  width: 100%;
  margin: 20px auto;
}

.service-section-boxes {
  display: flex;
  justify-content: space-evenly;
}

.service-box {
  width: 30%;
  background-color: rgba(255, 166, 0, 0.11);
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.service-icon {
  width: 30%;
}

.service-icon img {
  width: 100%;
  padding: 10px;
}

.service-text {
  width: 70%;
}

/* product-section style */
#product-section {
  width: 100%;
  margin: 40px 0px;
}

.product-cards {
  margin: 20px 0px;
  display: flex;
  justify-content: space-evenly;
}

.laptop-sec,
.mobile-sec {
  width: 90%;
  margin: 0 auto;
}

.card {
  width: 30%;
  text-align: center;
  box-shadow: 5px 5px 30px gray;
  padding: 20px 0px;
  border-radius: 5px;
}

/* footer style */
footer {
  width: 100%;
  height: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding-top: 50px;
}
